@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

/*
* {
  box-sizing: border-box;
}
html {
  display: table;
  margin: 0;
}

body {
  vertical-align: middle;
  display: table-cell;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  padding: 0;
  margin:0;
}

input {
  all: unset;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
} 
*/

.Initializing {
  vertical-align: middle;
}

.navi {
  margin: 0px;
  width: 100%;

}
.navidiv{
  margin: 0;
  width: 100%;
  height: 70px;
  /* border: 1px solid black; */
  columns: black;
  
}

.naviLink{
  margin: 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: black;
  height: auto;


}

.logoLi {
  margin: 0 60% 0 0;
}

/* hr {
  width: 100%;
}



button {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
} */


.profileformcss {
  width: 40vw;
  height: 25px;
  margin: 50px 0 0 0;
  border-bottom: 1px solid #464646;
  display: flex;
}

.profilecss {
  font-size: 14px;
  color: #464646;
}

.Portfolio {
  width: 100vw;
  display: flex;
}

.editPortfolio {
  width: 100vw;
  display: flex;
  margin: 0 1000px 0 0;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainLemona {
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.LemonaSec {
  width: 40vw;
  height: 200px;
  border: 1px solid black;
  margin: 70px;
}

.search {
  height: 50px;
  width: 80%;
  border: 1px solid black;
  border-radius: 30px;
  flex-direction: row;
  align-items: center;
  display:flex;
  align-items:center; 
}

.searchInput{
  height: 40px;
  width: 90%;
  border-radius: 20px;
  /* border: 1px solid black; */
  margin-left: 25px;
  font-size: 14px;
  display:inline-block;
}
.searchBtn {
  height: 40px;
  width: 70px;
  border-radius: 20px;
  font-size: 14px;
  border: none;
  background-color: #AAAAAA;
  cursor: pointer;
  display:inline-block;
  margin-left: 13px;
}

.hot {
  font-size: 14px;
  width: 90px;
  height: 40px;
  color: #707070;
  background-color: #CCE8FF;
  border-radius: 20px;
  text-align: center;
  margin: 50px 85vw 50px 0;
  padding: 12px;
}

.hotSpan {
  margin: 5px;
}

.profileMainTitile{
  color: black;
  font-size: 20px;
  margin: 60px 40px 10px 30%;
}

.editprofileMainTitile{
  color: black;
  font-size: 20px;
  margin: 60px 40px 10px 0;
}

.profileTitleDiv {
  width: 100vw;
  display: flex;
}

.EditBtnDiv {
  font-size: 14px;
  width: 80px;
  height: 40px;
  color: #707070;
  background-color: #CCE8FF;
  border-radius: 20px;
  text-align: center;
  margin: 50px 45vw 0 0;
  padding: 12px;
  cursor: pointer;
}

.profileContainer { 
  /* margin-right: 30px; */
  width: 573px;
  float: left;

} 

.profileTitle {
  color: black;
  width: 100px;
  font-size: 14px;
  height: auto;
}

/* .profileForm {
  width: 500px;
} */

/* .cancelBtn {
  cursor: pointer;
  background-color: white;
  border: 1 solid black;
  color: black;
} */

.formInput {
  width: 500px;
  padding: 10px 20px;
  border: 0.5px solid black;
  text-align: center;
  background-color: white;
  color: black;
}

.profileeditcss {
  width: 500px;
  padding: 0 10px;
  background-color: white;
  font-size: 14px;
  color: #707070;
  margin-bottom: 10px;
}
/* .profilecss {
  font-size: 14px;
  color: #464646;
} */

.authSubmit {
  font-size: 14px;
  width: 100%;
  padding: 10px 20px;
  border: none;
  text-align: center;
  background-color: #48ACFF;
  color: white;
  
}
.authSubmit:hover {
  opacity: 0.8;
}

.formBtn {
  cursor: pointer;
  width: 10vw;
  border: none;
  padding: 7px 20px;
  text-align: center;
  color: white;
  background-color: #48ACFF;
  cursor: pointer;
  margin-right: 30vw;
  margin-bottom: 50px;
}


/* Profile Page */

.profileForm {
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Auth */

.authContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10vh 0 0 0;
  /* justify-content: center; */
  align-items: center;
}

.authBtns {
  margin-top: 30px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.authBtn {
  cursor: pointer;
  margin: 0px;
  font-size: 14px;
  width: 500px;
  padding: 10px 20px;
  border: 0.5px solid black;
  text-align: center;
  background-color: white;
  color: black;
}


.authBtn :hover {
  color:rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.authOr {
  width: 100%;
  color: black;
  cursor: default;
  margin-top: 10px;
  display: flex;
  font-size: 14px;
  text-shadow: 0 1px fade(#FFF, 40%);
  align-items: center;
  width: 530px
}

.authOr::before,
.authOr::after {
  content: "";
  flex-grow: 1;
  background: black;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 15px;
}

/* .authOr::before,
.authOr::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #48ACFF;
  margin: 0 16px;
  font-size: 15px;
  line-height: 0px;
} */

/* AuthForm */

.authInput {
  width: 500px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  outline: 0.5px solid black;
  margin-bottom: 10px;
  font-size: 14px;
  color: black;
}

.authSubmit {
  width: 502px;
  text-align: center;
  background: #48ACFF;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}

.authSwitch {
  color: #48ACFF;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  font-size: 15px;
  text-decoration: underline;
}


.logoImage {
  width: 50px;
  height: 50px;
  background-color: #AAAAAA;
}