.common-table {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  border-spacing: 0;
}

.common-table-header {
  border-bottom: 2px solid #e8e8e8;
  padding: 0;
  font-size: 16px;
  padding: 10px 5px;
  font-weight: bold;
}

.common-table-row:hover {
  background-color: #eceaea;
  cursor: pointer;
}

.common-table-column {
  padding: 15px 5px;
}