@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
  box-sizing: border-box;
}
html {
  display: table;
  margin: auto;
}

body {
  vertical-align: middle;
  display: table-cell;
}

input {
  all: unset;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.Initializing {
  vertical-align: middle;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: white;
  padding: 0;
  margin:0;
}

.navi {
  margin: 0px;

}
.navidiv{
  margin: 0;
  width: 100%;
  height: 70px;
  /* border: 1px solid black; */
  columns: black;
  
}

.naviLink{
  margin: 15px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: black;
  height: auto;


}

.logoLi {
  margin: 0 60% 0 0;
}

hr {
  width: 120%;
  margin-left:-10%;
}



button {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}





.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainLemona {
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.LemonaSec {
  width: 650px;
  height: 320px;
  border: 1px solid black;
  margin: 70px;
}

.search {
  height: 60px;
  width: 80%;
  border: 1px solid black;
  border-radius: 30px;
  flex-direction: row;
  align-items: center;
  display:flex;
  align-items:center; 
}

.searchInput{
  height: 50px;
  width: 90%;
  border-radius: 25px;
  /* border: 1px solid black; */
  margin-left: 35px;
  font-size: 16px;
  display:inline-block;
}
.searchBtn {
  height: 40px;
  width: 90px;
  border-radius: 25px;
  font-size: 16px;
  border: none;
  background-color: #AAAAAA;
  cursor: pointer;
  display:inline-block;
  margin-left: 10px;
}

.hot {
  font-size: 16px;
  width: 100px;
  height: 40px;
  color: #707070;
  background-color: #CCE8FF;
  border-radius: 20px;
  text-align: center;
  margin: 50px 1800px 50px 0;
  padding: 10px;
}

.hotSpan {
  margin: 5px;
}




.formInput {
  width: 100%;
  padding: 10px 20px;
  border: 0.5px solid black;
  text-align: center;
  background-color: white;
  color: black;
}

.authSubmit {
  width: 100%;
  padding: 10px 20px;
  border: none;
  text-align: center;
  background-color: #48ACFF;
  color: white;
  
}
.authSubmit:hover {
  opacity: 0.8;
}

.formBtn {
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 7px 20px;
  text-align: center;
  color: white;
  border-radius: 3px;
  background-color: #48ACFF;
  cursor: pointer;
}

.cancelBtn {
  cursor: pointer;
  background-color: tomato;
  border: 0;
}

/* Profile Page */

.profileForm {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logOut {
  margin-top: 50px;
}

/* Factory */

.factoryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.factoryInput__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.factoryInput__input {
  flex-grow: 1;
  height: 40px;
  padding: 0px 20px;
  color: white;
  border: 1px solid #48ACFF;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
}

.factoryInput__arrow {
  position: absolute;
  right: 0;
  background-color: #48ACFF;
  height: 40px;
  width: 40px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 3px;
  color: white;
}

.factoryInput__label {
  color: #48ACFF;
  cursor: pointer;
}

.factoryInput__label span {
  margin-right: 10px;
  font-size: 12px;
}

.factoryForm__attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.factoryForm__attachment img {
  max-width: 200px;
  height: auto;
  border-radius: 3px;
  
}

.factoryForm__clear {
  color: #48ACFF;
  cursor: pointer;
  text-align: center;
}

.factoryForm__clear span {
  margin-right: 10px;
  font-size: 12px;
}

/* kuromi */

.kuromiEdit .formBtn {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}



.kuromi {
  margin-top: 10px;
  margin-bottom: 10px;
  /* background-color: white; */
  width: 100%;
  max-width: 320px;
  padding: 20px 20px;
  border-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 0.6px;
  border-bottom-color: white;
  position: relative;
  /* display: flex;
  flex-direction: column; */
  color: rgba(0, 0, 0, 0.8);
}

.kuromi h4 {
  line-height: 20px;
  font-size: 14px;
  color: white;
}


/* 수정 */



.kuromi img {
  display: block;
  margin-top: 10px;
  width: 100%;
}

.kuromi__actions {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
}

.kuromi__actions span {
  cursor: pointer;
}

.kuromi__actions span:first-child {
  margin-right: 10px;
}

/* Auth */

.authContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.authBtns {
  margin-top: 30px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.authBtn {
  cursor: pointer;
  margin: 0px;
  font-size: 15px;
  width: 500px;
  padding: 10px 20px;
  border: 0.5px solid black;
  text-align: center;
  background-color: white;
  color: black;
}


.authBtn :hover {
  color:rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.authOr {
  width: 100%;
  color: black;
  cursor: default;
  margin-top: 20px;
  display: flex;
  font-size: 15px;
  text-shadow: 0 1px fade(#FFF, 40%);
  align-items: center;
  width: 530px
}

.authOr::before,
.authOr::after {
  content: "";
  flex-grow: 1;
  background: black;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 15px;
}

/* .authOr::before,
.authOr::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #48ACFF;
  margin: 0 16px;
  font-size: 15px;
  line-height: 0px;
} */

/* AuthForm */

.authInput {
  width: 500px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  outline: 0.5px solid black;
  margin-bottom: 10px;
  font-size: 15px;
  color: black;
}

.authSubmit {
  text-align: center;
  background: #48ACFF;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
}

.authSwitch {
  color: #48ACFF;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 10px;
  display: block;
  font-size: 15px;
  text-decoration: underline;
}


.logoImage {
  width: 50px;
  height: 50px;
  background-color: #AAAAAA;
}