@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
  box-sizing: border-box;
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

body {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: black;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Home.js */
.project_container{
	border: 1px solid black;
	display: inline-block;
	padding: 20px;
	margin: 20px;
}

/* ProjectDetailShow.js */
.detail_container{
	min-width: 500px;
	width: 60%;
	margin: 0 auto;
	display: flex;
	/* grid-template-rows: 5fr 1fr 1fr 1fr 1fr 100%; */
	flex-direction: column;
	grid-gap: 30px;
	font-size: 16px;
	text-align: center;
	padding-top: 30px;

}

.detail_container img{
	width: 500px;
	height: 300px;
	margin-bottom: 15px;
	border: 1px solid black;
}

.detail_container .list{
	padding: 20px;
	text-align: start;
}

.list span{
	display: block;
	border-bottom: 2px solid black;
	padding-bottom: 10px;
	margin-bottom: 10px;
	text-align: start;
	padding-left: 10px;
	/* padding-left: 5px; */
}

.list div{
	font-size: 20px;
	padding-left: 10px;
}

.list .member{
	border: 1px solid skyblue;
	border-radius: 20px;
	display: inline-block;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: skyblue;
	margin-right: 10px;
}

.list .hashtag{
	border: 1px solid palegreen;
	border-radius: 20px;
	display: inline-block;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: palegreen;
	margin-right: 10px;
}

/* ProjectDetail.js */
.detail_container .list_update{
	padding: 30px;
	text-align: start;
}


.list_update span{
	display: block;
	border-bottom: 2px solid black;
	padding-bottom: 10px;
	margin-bottom: 10px;
	text-align: start;
	padding-left: 10px;
	/* padding-left: 5px; */
}

.list_update input{
	font-size: 20px;
	padding-left: 10px;
	width: 100%;
}

.list_update .member{
	border: 1px solid skyblue;
	border-radius: 20px;
	display: inline-block;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: skyblue;
	margin-right: 10px;
	margin-bottom: 10px;
}

.list_update .input_member {
	border: 1px solid white;
	border-radius: 20px;
	display: inline-block;
	padding: 3px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: white;
	margin-left: 15px;
}

.list_update .input_member input{
	width: 100px;
	font-size: 18px;
	text-align: center;
}

.list_update textarea{
	font-size: 20px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	/* border: none; */
	resize: none;
	width: 100%;
	outline-width: 0;
	padding-left: 10px;
	padding-top: 5px;
	overflow: visible;

}

.list_update .hashtag{
	border: 1px solid palegreen;
	border-radius: 20px;
	display: inline-block;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: palegreen;
	margin-right: 10px;
	margin-bottom: 10px;
}

.list_update .input_hashtag {
	border: 1px solid white;
	border-radius: 20px;
	display: inline-block;
	padding: 3px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: white;
	margin-left: 15px;
}

.list_update .input_hashtag input{
	width: 100px;
	font-size: 18px;
	text-align: center;
}

.introduce_list{
	padding-bottom: 70px;
}


.list_update .input_introduce{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 0;
}




.formBtn{
	cursor: pointer;
  	width: 50%;
  	padding: 7px 20px;
  	text-align: center;
  	color: white;
  	border-radius: 20px;
  	background-color: black;
	margin-top: 10px;
	margin-bottom: 5px;
	height: 50px;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
	min-height: 400px;
	margin-bottom: 20px;
  }